In [ ]:
import pandas
import redshift_connector

In [ ]:
# Connects to Redshift cluster using AWS credentials
conn = redshift_connector.connect(
    host='cluster.oscarhsu.us-west-1.redshift.amazonaws.com'',
    database='EDA',
    user='me',
    password='do not hack me pls'
 )

cursor: redshift_connector.Cursor = conn.cursor()

cursor.execute("select * from healthyLifeStyle")

df: pandas.DataFrame = cursor.fetch_dataframe()

In [ ]:
df=df.drop(['Rank'],axis=1)
df = df.replace('-', np.nan)
df['Cost of a monthly gym membership(City)'] = df['Cost of a monthly gym membership(City)'].replace(to_replace ='£', value = '', regex = True)
df['Obesity levels(Country)'] = df['Obesity levels(Country)'].replace(to_replace ='%', value = '', regex = True)
df['Cost of a bottle of water(City)'] = df['Cost of a bottle of water(City)'].replace(to_replace ='£', value = '', regex = True)

In [ ]:
df['Cost of a bottle of water(City)']=df['Cost of a bottle of water(City)'].map(float)
df['Obesity levels(Country)']=df['Obesity levels(Country)'].map(float)
df['Pollution(Index score) (City)']=df['Pollution(Index score) (City)'].map(float)
df['Annual avg. hours worked']=df['Annual avg. hours worked'].map(float)
df['Cost of a monthly gym membership(City)']=df['Cost of a monthly gym membership(City)'].map(float)

In [ ]:
with con.cursor() as cursor:
    cursor.write_dataframe(df, "book")